<% content_for :header do -%>
	<%= render 'header' %>
<% end -%>

<%= simple_form_for(@profile, html: { method: :put, class: 'form-horizontal' }, defaults: { input_html: { class: 'input-xlarge' } }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nickname %>
    <%= f.input :weibo %>
    <%= f.input :qq %>
    <%= f.input :intro, input_html: { rows: 4 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
