<% if user_signed_in? %>
	<div>
		welcome to you: <%= @name %>
	</div>
	<div>
		<%= image_tag @avatar %>
	</div>
	<table class="table table-hover">
		<tr><td>provider: <%= @provider %></td></tr>
		<tr><td>uid: <%= @uid %></td></tr>
		<tr><td>token: <%= @token %></td></tr>
		<tr><td>expires_at: <%= @expires_at %></td></tr>
	</table>
<% end %>